

.container {
display: flex;
gap: 16px;
padding: 20px 20px 16px ;
border-bottom: 2px solid #E0E0E0;
justify-content: space-between;
align-items: center;
  /* @media (min-width: 768px) {
    width: 162px;
    height: 44px;
  }
  @media (min-width: 1200px) {
    width: 167px;
    height: 44px;
  } */
}

/* // export const LinkSpan = styled.span`
// text-decoration: none;
// ` */