.container{
    display: flex;
    gap:16px;
  
}

.text{
    /* font-family: 'Gotham Pro'; */
    text-decoration: none;
font-weight: 700;
font-size: 14px;
line-height: 0.9;
color:#9B9FAA;;
letter-spacing: 0.04em;

}